
.tra
{
    font-family: 'Lobster', cursive;
  color:blueviolet;
  text-align: center;
  font-size:60px ;
  margin-bottom:10px ;
  margin-top: 5px;
}
.tr{
    font-size: 40px;
    color: pink ;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    
}
.if{
   margin-left:30% ;
    
}